<section class="hero is-link is-small">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <%= link_to root_path, class: "navbar-item" do %>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><title>diamond</title><g><path fill="#9BCED3" d="M16.5 8l-4.5 13.5c0.15 0 0.3-0.07 0.4-0.2l10.21-13.28-0.01-0.02h-6.1z"></path><path fill="#76B5B5" d="M22.6 8l-4.1-6.5-2 6.5z"></path><path fill="#bfdee0" d="M5.5 1.5l-4.1 6.5h6.1z"></path><path fill="#9BCED3" d="M1.4 8l-0.01 0.02 10.21 13.28c0.09 0.12 0.24 0.2 0.4 0.2l-4.5-13.5h-6.1z"></path><path fill="#9BCED3" d="M12 1.5h-6.5l2 6.5z"></path><path fill="#76B5B5" d="M7.5 8l4.5 13.5 4.5-13.5z"></path><path fill="#9BCED3" d="M18.5 1.5h-6.5l4.5 6.5z"></path><path fill="#bfdee0" d="M16.5 8l-4.5-6.5-4.5 6.5z"></path></g></svg>            <span class="has-text-weight-bold is-size-4 ml-4">FoodLog</span>
          <% end %>
          <span class="navbar-burger" data-target="navbarMenuHeroA">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHeroA" class="navbar-menu">
          <div class="navbar-end">
            <span class="navbar-item">
              <%= link_to "Create new entry", new_entry_path, class: "button is-success" %>
            </span>
          </div>
        </div>
      </div>
    </nav>
  </div>
  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        <% if content_for(:title) %>
          <%= yield :title %>
        <% else %>
          FoodLog
        <% end %>
      </h1>
    </div>
  </div>
</section>
